.con {
  //   border: 1px solid red;
  font-family: "Mabry";
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;

  h4 {
    font-size: 4rem;
    font-weight: 400;
  }

  h5 {
    font-size: 1.6rem;
    max-width: 494px;
    text-align: center;
    margin-top: 12px;
    color: #5f6368;
  }

  .btn {
    width: fit-content;
    padding: 19px 38px;
    font-size: 1.2rem;
    margin-top: 67px;
    color: #1d4ed8;
    border: 1px solid #1d4ed8;
    background: #ecf2fe;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 800px) {
  .con {
    // border: 1px solid red;
    // margin: 0 auto;
    width: 90%;

    h4 {
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center;
    }

    h5 {
      font-size: 1.6rem;
      max-width: 357px;
      text-align: center;
      line-height: 24px;
      margin-top: 12px;
      color: #5f6368;
    }

    .svgCon {
      svg {
        width: 200px;
        height: 200px;
      }
    }
  }
}
